.DS_Store
**/.DS_Store
gl2
./gl2
headers.hpp.gch
**/headers.hpp.gch
**/zig-cache
**/build
overview.txt
TEMPLATE.md
deps/stb_leg
deps/stb_leg/**
**/client
**/*.o
**/*.a
bc_safe.txt
dlib.txt
lang_compiler/

echo_server/target
http_json/target
guess_number/target

battle/cc_battle
battle/go_battle
battle/zig_battle
battle/odin_battle
battle/swift_battle
battle/nim_battle

build_system/cc_build_system
build_system/go_build_system
build_system/zig_build_system
build_system/odin_build_system

concurrency/cc_concurrency
concurrency/go_concurrency
concurrency/zig_concurrency
concurrency/odin_concurrency
concurrency/swift_concurrency

echo_server/cc_echo_server
echo_server/cc_echo_server2
echo_server/go_echo_server
echo_server/zig_echo_server
echo_server/odin_echo_server
echo_server/nim_echo_server

game_of_life/cc_game_of_life
game_of_life/go_game_of_life
game_of_life/zig_game_of_life
game_of_life/odin_game_of_life

guess_number/cc_guess_number
guess_number/go_guess_number
guess_number/zig_guess_number
guess_number/odin_guess_number
guess_number/swift_guess_number

hot_reload/cc_hot_reload
hot_reload/go_hot_reload
hot_reload/zig_hot_reload
hot_reload/odin_hot_reload

http_json/cc_http_json
http_json/go_http_json
http_json/zig_http_json
http_json/odin_http_json
http_json/nim_http_json

lang_compiler/cc_lang_compiler
lang_compiler/go_lang_compiler
lang_compiler/zig_lang_compiler
lang_compiler/odin_lang_compiler

langton_ant/cc_langton_ant
langton_ant/go_langton_ant
langton_ant/zig_langton_ant
langton_ant/odin_langton_ant

music_app/cc_music_app
music_app/go_music_app
music_app/zig_music_app
music_app/odin_music_app

opengl/cc_opengl
opengl/go_opengl
opengl/go_opengl2
opengl/zig_opengl
opengl/odin_opengl

platformer/cc_platformer
platformer/go_platformer
platformer/zig_platformer
platformer/odin_platformer
platformer/d_platformer

pong/cc_pong
pong/go_pong
pong/zig_pong
pong/odin_pong
pong/d_pong
pong/swift_pong

ppm_png/cc_ppm_png
ppm_png/go_ppm_png
ppm_png/zig_ppm_png
ppm_png/odin_ppm_png

software_3d/cc_software_3d
software_3d/go_software_3d
software_3d/zig_software_3d
software_3d/odin_software_3d

wumpus/cc_wumpus
wumpus/go_wumpus
wumpus/zig_wumpus
wumpus/odin_wumpus



# Added by cargo

/target
